@page
@model CIKataFrontEnd.React.Views.Home.Index

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>CIKataFrontEnd</title>
</head>
<body>
<div id="root">
    This means react components aren't rendering
</div>
<script src="~/dist/bundle.js"></script>
</body>
</html>